header {
	position: relative;
	z-index: 50;
	widows: 100%;
}

.navbar {
	padding: 20px 0;
}

.navbar-light .navbar-nav .nav-item.active .navbar-link {
	background: #262626;
	color: #fff;
}

h2 {
	font-weight: 600;
	text-transform: uppercase;
}

p {
	font-weight: 400;
}

.banner {
	position: relative;
	background: url(./../images/bg.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 250px 0 200px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;         
}
